<div class="modal fade" id="cardEditorModal" tabindex="-1" role="dialog" aria-labelledby="cardEditorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cardEditorModalLabel">Edit *заголовок заметки*</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editorForm">
            <div class="form-group">
              <input type="text" value="{{(card||{}).title}}" formControlName="title" class="form-control" required>
            </div>
            <div class="form-group">    
              <textarea rows="15" value="{{(card||{}).content}}" formControlName="content" class="form-control" required></textarea>
            </div>            
            <button 
              type="submit" 
              [disabled]="editorForm.invalid" 
              (click)="trySave(registerForm.value)" 
              class="btn btn-outline-primary" 
              data-dismiss="modal">Save</button>
          </form>
        </div>      
      </div>
    </div>
  </div>