<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Notes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">      
      <li class="nav-item" [routerLinkActive]="['active']"><!-- *ngIf="(user$ | async)?.uid" -->
        <a class="nav-link" [routerLink]="['cards']">Cards</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
      <li *ngIf="!(user$ | async)?.uid" class="nav-item ml-auto">
        <button type="button" class="nav-link btn btn-outline-dark border border-secondary mr-2 d-inline-block" data-toggle="modal" data-target="#logInModal">Sign in</button>
        <!-- [routerLink]="['login']" -->
        <button type="button"  class="nav-link btn btn-outline-dark border border-secondary d-inline-block" data-toggle="modal" data-target="#registerModal">Sign up</button>
        <!--  [routerLink]="['register']" -->
      </li>
      <li *ngIf="(user$ | async)?.uid" class="nav-item ml-auto">
        <img class="rounded-circle" src="{{ (user$ | async)?.photoURL || '../assets/img/user.png' }}" alt="" width="40px" height="40px">
        <span class="text-light m-2 d-inline-block">{{ (user$ | async)?.displayName }}</span>
        <a class="text-info border border-info px-1 d-inline-block" href="#" (click)="SignOut($event)">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<app-login (toLogIn)="SignIn($event)" ></app-login>
<app-register (toRegister)="Register($event)" ></app-register>
<router-outlet></router-outlet>
